body {
    font-family: "MS UI Gothic",sans-serif;
	padding-top: 50px;
}
.ui-dialog,.ui-dialog-content {
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing:content-box!important;
    box-sizing: content-box!important;
}

.dragging {
    background-color: #af8;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.prjDirHeader {
	background-color: #af8;
}
.project {
	/*float: left;*/
	display: inline-block;
	width: 132px;
	margin: 16px;
    text-align: center;
}
textarea{
	font-family: monospace;
	line-height: 1em;
}

.runArea {
   background-color: #888888;
}
.fileItem {
	cursor:pointer;
  color: #428bca;
}
#fileItemList {
	overflow-x: hidden;
	overflow-y: scroll;
}
#fileItemList li {
	  list-style: none;
}
.fileItem.selected {
  cursor:default;
  color: black;
  font-weight: bold;
  background-color: #dddddd;
}

.fileItem:hover {
   color: #2a6496;
}
.clickable {
	cursor:pointer;
  color: #428bca;
}
.clickable:hover {
   color: #2a6496;
   background-color: #aaa;
}
.clickable.notexist {
	cursor:pointer;
  color: #ca6b42;
}

.shell {
	font-family: monospace;
}
.shell.error {
    color: red;
}

.tutorial-highlight {
	background-color: #ffdd88;
}
#prog.tutorial-highlight {
	border: solid red 2px;
}
p {
    font-family: "MS UI Gothic",sans-serif;
}
h1 {
    font-family: "MS UI Gothic",sans-serif;
	font-size: 20px;
}
h2 {
	font-size: 18px;
}
#wikiViewArea {
    overflow-y: none;
    overflow-x: none;
	/*overflow-y: scroll;*/
	/*overflow-x: auto;*/
}
div.wikiDialog {
	margin: 0px;
	padding: 0px;
	overflow-y: none;
    overflow-x: none;
}
iframe.wikiDialog {
    margin: 0px;
    padding: 0px;
	height: 95% !important;
    width: 100% !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.dropdown-content {
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.dropdown-content .show {
    display: block;
    position: absolute;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}
.dropdown-content a:hover, .dropdown-content a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #428bca;
}
.prjMenuButton {
    width:21px;
    height:20px;
    background-image: url(images/ui-icons_222222_256x240.png);
    background-position: -64px -16px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4,
.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,
.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12   {
  padding-right: 0px;
  padding-left: 0px;
}
@media (min-width: 768px) {
  .container {
    max-width: 992px;
  }


@media (min-width: 992px) {
  .container {
    max-width: 1200px;
  }
}
